:root {
    /* Colours */
    --color-text: #201f1f; 
    --color-primary: #f7c4da; 
    --color-secondary: #b798a9; 
    --color-dark: #7b676f; 
    --color-bg: #fffafc;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }