@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(107, 72, 93, 0.385);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 2;

}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  z-index: 3;

}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;

}

.acheivementsImage {
  width: 35%;
  z-index: 2;

}

.acheivementsItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 2;

}

.acheivementsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(230, 196, 212, 0.42) 0%,
    rgba(135, 98, 174, 0.314) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  z-index: 2;

}

.acheivementsItem:hover {
  background-size: 100% 100%;
}

.acheivementsItem h3 {
  font-size: 25px;
  font-weight: 600;
  z-index: 2;

}

.acheivementsItem p {
  font-size: 25px;
  z-index: 2;

}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-width: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(167, 125, 149, 0.7);
    filter: blur(100px);
    z-index: 0;
  }
  
  .bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-width: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(167, 125, 149, 0.7);
    filter: blur(100px);
    z-index: 0;
  }
  
@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    z-index: 2;

  }

  .content {
    flex-direction: column;
    
  }

  .acheivementsImage {
    display: none;
  }

  .acheivementsItems {
    margin-top: 29px;
  }

  .acheivementsItem {
    padding-left: 0;
    padding-right: 0;
  }
}

.acheivementsItem img {
    margin-right: 10px; /* Adjust this value to increase or decrease spacing */
  }
  